<div class="container bg-light py-4" style="position: relative;margin: 50px auto;">
    <div class="row align-item-center">
        <div class="col-12 text-center">
            <span class="h2 display-4 mb-4 d-block">Contact Us!</span>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur eaque velit corporis!
                Pariatur illum harum distinctio modi commodi nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum. nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum. nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum.
            </p>
        </div>
        <div class="col-sm-12 text-center">
            <h4 class="h4"><strong>Address: </strong><br /></h4>
            <span class="d-block h5 mb-3">Lorem ipsum, dolor sit amet <br />Lorem ipsum, doloradip</span>
            <span class="d-block h5 my-3"><strong>Customer Support: </strong><br>99xxxxxxxx, MyfabricMyway@host.com</span>
        </div>
    </div>
</div>