<div class="container bg-light py-4" style="position: relative;margin: 50px auto;">
    <div class="row align-item-center">
        <div class="col-12 text-center">
            <span class="h2 display-4 mb-4 d-block">About Us!</span>
            <!-- <p>A message from fou</p> -->
            <!-- <span class="h2 mb-4 d-block">Our Goal</span> -->
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam consectetur eaque velit corporis!
                Pariatur illum harum distinctio modi commodi nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum. nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum. nesciunt atque exercitationem consequuntur. Reprehenderit,
                voluptatum incidunt odio nihil quas dolorum.
            </p>
        </div>
        <div class="col-sm-12 text-center">
            <span class="d-block h5 my-3"><strong>Location: </strong>Europe</span>
            <span class="d-block h5 my-3"><strong>Founder :</strong>Steve roger, roger.steve@mfmw.com</span>
        </div>
    </div>
</div>